<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('body').on('keyup change', function () {
            var total_price = 0;
            var total_quantity = 0;
            $('input[name="total[]"]').each(function () {
                if ($(this).val() !== '') {
                    total_price += parseInt($(this).val());
                }
                $('input[name="total_price"]').val(total_price);
            });

            $('input[name="quantity[]"]').each(function () {
                if ($(this).val() !== '') {
                    total_quantity += parseInt($(this).val());
                }
                $('input[name="total_quantity"]').val(total_quantity);
            });

            $('input[name="quantity[]"]').each(function () {

                let tr = $(this).parent().parent();
                let price = tr.find('input[name="price[]"]').val();
                let quantity = tr.find('input[name="quantity[]"]').val();
                let total_price_all = tr.find('input[name="total[]"]');
                let total = 0;

                total = price * quantity;
                if (isNaN(total)) {
                    total = parseInt(total);
                }

                total_price_all.val(total);

                // console.log(total);

            });

        });
    });

    function add_more(obj) {
        const html = '<tr><td><select class="form-select" name="products[]" id="products" required><option value="">Select a Product </option>{{#each product}}<option value="{{_id}}">{{name}}</option>{{/each}}</select></td><td><input type="number" name="quantity[]" id="" required class="form-control"></td><td><input type="text" name="price[]" required id="price" class="form-control"></td><td><input type="text" name="total[]" id="total" class="form-control"></td><td><a href="javascript:void(0)" onClick="add_more(); "><i class="bi bi-plus-circle-fill"></i> </a> <a href="javascript:void(0)" onClick="remove_row(this);"><i class="bi bi-trash"></i></a></td> </tr>';
        $('.table').append(html);
    }

    function remove_row(obj) {
        $(obj).parent().parent().remove()
    }

    (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    $(document).ready( function () {
    $('.product').DataTable();
} );
</script>